<div class='center'>
  <%- if current_user -%>
    <div class='devise'>
      <%= image_tag ('smtitle003.jpg') %>
      <%= link_to proposals_path do %>
        <div class='button_link'>SPARRING PROPOSALS</div>
      <%- end -%>
      <%= link_to messages_path do %>
        <div class='button_link'>MESSENGER</div>
      <%- end -%>
      <%= link_to edit_user_registration_path do %>
        <div class='button_link'>EDIT PROFILE</div>
      <%- end -%>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class='button_link'>SIGN OUT</div>
      <%- end -%>
    </div>
  <%- else -%>
    <div class='devise'>
      <%= image_tag ('smtitle003.jpg') %>
      <hr>
      <h5>SIGN UP</h5>
      <h6>TO MEET</h6>
      <h5>SPARRING PARTNERS</h5>
      <hr>
      <%= link_to new_user_registration_path do %>
        <div class='button_link'>SIGN UP</div>
      <%- end -%>
      <%= link_to new_user_session_path do %>
        <div class='button_link'>SIGN IN</div>
      <%- end -%>
    </div>
  <%- end -%>
</div>
