<div class='center'>
  <%- if current_user -%>
    <div class='devise'>
      <%= image_tag ('smtitle003.jpg') %>
      <div class='button_link'><%= link_to 'SPARRING PROPOSALS', proposals_path %><br/></div>
      <div class='button_link'><%= link_to 'MESSENGER', messages_path %><br/></div>
      <div class='button_link'><%= link_to 'EDIT PROFILE', edit_user_registration_path %><br/></div>
      <div class='button_link'><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></div>
    </div>
  <%- else -%>
    <div class='devise'>
      <%= image_tag ('smtitle003.jpg') %>
      <hr>
      <h5>SIGN UP</h5>
      <h6>TO MEET</h6>
      <h5>SPARRING PARTNERS</h5>
      <hr>
      <div class='button_link'><%= link_to 'SIGN UP', new_user_registration_path %><br/></div>
      <div class='button_link'><%= link_to 'SIGN IN', new_user_session_path %></div>
    </div>
  <%- end -%>
</div>
