<%- if current_user -%>
  <div>
    <h2>EDIT PROPOSAL</h2>

    <h5>THINGS YOUR PROPOSAL SHOULD INCLUDE:</h5>
    A location<br/>
    When and how often you want to spar<br/>
    What equipment you have<br/>
    What equipment you wish for others to bring<br/><br/>

    <%= form_for @proposal do |f| %>
      <div class='field'>
        <%= f.label :description, 'YOUR SPARRING PROPOSAL:' %><br/>
        <%= f.text_area :description %>
      </div>

      <div class='field'>
        <%= f.label :sport, "SPORT:", for: "proposal_sport_id"  %><br/>
        <%= f.select :sport_id, options_for_select(@sports.map { |s| [s.name, s.id]}) %>
      </div>

      <div class='actions center'>
        <%= f.submit 'EDIT PROPOSAL' %>
      </div>
    <% end %>

    <%= link_to proposals_path do %>
      <div class='button_link'>SEARCH PROPOSALS</div>
    <%- end -%>
    <%= link_to root_path do %>
      <div class='button_link'>SPARRING MEETUP HOME</div>
    <%- end -%>
    <%= link_to edit_user_registration_path do %>
      <div class='button_link'>EDIT PROFILE</div>
    <%- end -%>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div class='button_link'>SIGN OUT</div>
    <%- end -%>
  </div>
<%- else -%>
  Please go back and sign in
<%- end -%>
