<%- if current_user -%>
  <div>
    <h2>PROPOSALS</h2>
    <%= link_to new_proposal_path do %>
      <div class='button_link'>MAKE A PROPOSAL</div>
    <%- end -%>

    <div id='app'>
    </div>

    <%= link_to edit_user_registration_path do %>
      <div class='button_link'>EDIT PROFILE</div>
    <%- end -%>
    <%= link_to root_path do %>
      <div class='button_link'>SPARRING MEETUP HOME</div>
    <%- end -%>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div class='button_link'>SIGN OUT</div>
    <%- end -%>


    <h5>MY PROPOSALS</h5>
    <% if @user_proposals %>
      <% @user_proposals.each do |proposal| %>
        <%= proposal.description %><br/>
        <%= link_to '(EDIT)', edit_proposal_path(proposal) %>
        <%= link_to '(DELETE)', proposal_path(proposal),
          method: :delete,
          data: { confirm: 'Are you sure?' } %><br/>
      <% end %>
    <% end %>
  </div>

<%- else -%>
   Please go back and sign in
<%- end -%>
