<div class='center'>
  <h2>MAKE PROPOSAL</h2>

  <h5>THINGS YOUR PROPOSAL SHOULD INCLUDE:</h5>
  A location<br/>
  When and how often you want to spar<br/>
  What equipment you have<br/>
  What equipment you wish for others to bring<br/><br/>

  <%= form_for @proposal do |f| %>
    <div class='field'>
      <%= f.label :description, 'YOUR SPARRING PROPOSAL:' %><br/>
      <%= f.text_area :description %>
    </div>

    <div class='field'>

      <%= f.label :sport, 'SPORT:' %><br/>
      <%= f.select :sport_id, options_for_select(@sports.map { |s| [s.name, s.id]}) %>

      <!-- <%= radio_button_tag(:sport_id, 'aikido') %>
      <%= label_tag(:sport_id_1, 'AIKIDO') %>

      <%= radio_button_tag(:sport_id, 'bjj') %>
      <%= label_tag(:sport_id_BJJ, 'BJJ') %><br/>

      <%= radio_button_tag(:sport_id, 'boxing') %>
      <%= label_tag(:sport_id_boxing, 'BOXING') %>

      <%= radio_button_tag(:sport_id, 'jiusitsu') %>
      <%= label_tag(:sport_id_jiujitsu, 'JIU-JITSU') %><br/>

      <%= radio_button_tag(:sport_id, 'judo') %>
      <%= label_tag(:sport_id_judo, 'JUDO') %>

      <%= radio_button_tag(:sport_id, 'karate') %>
      <%= label_tag(:sport_id_karate, 'KARATE') %><br/>

      <%= radio_button_tag(:sport_id, 'kickboxing') %>
      <%= label_tag(:sport_id_kickboxing, 'KICKBOXING') %>

      <%= radio_button_tag(:sport_id, 'kungfu') %>
      <%= label_tag(:sport_id_kungfu, 'KUNG FU') %><br/>

      <%= radio_button_tag(:sport_id, 'muaythai') %>
      <%= label_tag(:sport_id_muaythai, 'MUAY THAI') %>

      <%= radio_button_tag(:sport_id, 'savate') %>
      <%= label_tag(:sport_id_savate, 'SAVATE') %><br/>

      <%= radio_button_tag(:sport_id, 'sumo') %>
      <%= label_tag(:sport_id_sumo, 'SUMO') %>

      <%= radio_button_tag(:sport_id, 'taekwondo') %>
      <%= label_tag(:sport_id_taekwondo, 'TAEKWONDO') %><br/>

      <%= radio_button_tag(:sport_id, 'wrestling') %>
      <%= label_tag(:sport_id_wrestling, 'WRESTLING') %><br/><br/> -->
    </div>

      <%= f.submit 'CREATE' %>
  <% end %>

  <%= link_to 'SPARRING MEETUP HOME', root_path %>
</div>
