<div>
  <h2>MAKE PROPOSAL</h2>

  <h5>THINGS YOUR PROPOSAL SHOULD INCLUDE:</h5>
  A location<br/>
  When and how often you want to spar<br/>
  What equipment you have<br/>
  What equipment you wish for others to bring<br/><br/>

  <%= form_for @proposal do |f| %>
    <div class='field'>
      <%= f.label :description, 'YOUR SPARRING PROPOSAL:' %><br/>
      <%= f.text_area :description %>
    </div>

    <div class='field'>
      <%= f.label :sport, "SPORT:", for: "proposal_sport_id"  %><br/>
      <%= f.select :sport_id, options_for_select(@sports.map { |s| [s.name, s.id]}) %>
    </div>

      <div class='button_link'><%= f.submit 'CREATE PROPSAL' %></div>
  <% end %>

  <div class='button_link'><%= link_to 'SPARRING MEETUP HOME', root_path %></div>
  <div class='button_link'><%= link_to 'EDIT PROFILE', edit_user_registration_path %><br/></div>
  <div class='button_link'><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></div>
</div>
