<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Teko:700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <title>Sparring Meetup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <div class="center"><%= value %></div>
    </div>
  <%- end -%>

  <div class='red_ring'>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>

</body>
</html>
